/* Global Styles */
  .aabout{
    text-align: center;
    color: #ffffff;
    background-color: hsl(224, 43%, 58%);
    font-size: 2em;
    font-weight: 700 !important;
    overflow: hidden; /* Hide overflowing characters */
    white-space: nowrap; /* Prevent line breaks */
    margin-bottom: 0%;
    padding: 2% 0 2% 0;
    
}
  /* About Section Styles */
  .aabout-section {
    display: grid;
    grid-row: auto;
    font-family: Arial, sans-serif;
    position: relative;
    padding: 0 0 60px 0;
    background-color: hsl(224, 43%, 58%);
  }
  .aabout-content p {
    color: #e7e7e7; /* Initial text color */
  }
  .acontainer {
    height: 50vh;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0 30px 30px;
    border-radius: 10%;
  }
  .aimg{
    height: auto;
    max-width: 100%;
    filter: hue-rotate(3.142rad);
  }
  .aabout-content {
    max-width: 900px;
    margin: 0 0 0 30px;
  }
  
  .aabout-content h2 {
    font-size: 36px;
  }
  
  .aabout-content p {
    font-size: 18px;
  }
  @media (max-width: 650px) { 
    .aabout-content h2 {
      font-size: 24px;
    }
    .aabout-content p {
      font-size: 12px;
    }
    .acontainer{
      flex-wrap: wrap;
      text-align: center;
      padding:2% 0 0 0%;
    }
    .aimg{
      max-width: 55%;
      margin-top: 0%;
    }
    .aabout-content{
      margin-right: 30px;
    }
  }
  
  @media (max-width: 280px) { 
    .aabout-content h2 {
      font-size: 12px;
    }
    .aabout-content p {
      font-size: 8px;
    }
    .acontainer{
      flex-wrap: wrap;
      text-align: center;
      padding:2% 0 0 0%;
    }
    .aimg{
      max-width: 30%;
      margin-top: 0%;
    }
    .aabout-content{
      margin-right: 30px;
    }
  }

  
  
