/* Global Styles */
.about_div{
  background: linear-gradient(to top, rgb(0, 11, 52), #177493); /* Navy blue gradient */
}
  .aabout{
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    font-weight: 700 !important;
    overflow: hidden; /* Hide overflowing characters */
    white-space: nowrap; /* Prevent line breaks */
    margin-bottom: 0%;
    padding: 2% 0 2% 0;
    
}
  /* About Section Styles */
  .aabout-section {
    display: grid;
    grid-row: auto;
    font-family: Arial, sans-serif;
    position: relative;
    padding: 0 0 60px 0;
  }
  .aabout-content p {
    color: #e7e7e7; /* Initial text color */
  }
  .acontainer {
    height: 50vh;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0 30px 30px;
    border-radius: 10%;
  }
  .aimg{
    height: auto;
    max-width: 100%;
    filter: hue-rotate(3.142rad);
  }
  .aabout-content {
    max-width: 900px;
    margin: 0 0 0 30px;
  }
  
  .aabout-content h2 {
    font-size: 36px;
  }
  
  .aabout-content p {
    font-size: 18px;
  }
  @media (max-width: 650px) { 
    .aabout-content h2 {
      font-size: 24px;
    }
    .aabout-content p {
      font-size: 12px;
    }
    .acontainer{
      flex-wrap: wrap;
      text-align: center;
      padding:2% 0 0 0%;
    }
    .aimg{
      max-width: 55%;
      margin-top: 0%;
    }
    .aabout-content{
      margin-right: 30px;
    }
  }
  
  @media (max-width: 280px) { 
    .aabout-content h2 {
      font-size: 12px;
    }
    .aabout-content p {
      font-size: 8px;
    }
    .acontainer{
      flex-wrap: wrap;
      text-align: center;
      padding:2% 0 0 0%;
    }
    .aimg{
      max-width: 30%;
      margin-top: 0%;
    }
    .aabout-content{
      margin-right: 30px;
    }
  }
  /* Footer styles */
.afooter {
  background: linear-gradient(to bottom, rgb(0, 0, 0), #2a3a5c); /* Navy blue gradient */
  color: white;
  padding: 20px;
  text-align: center;
}

.afooter-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.afooter-links {
  list-style: none;
  padding: 0;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.afooter-links li {
  margin-right: 6.9px;
}

.afooter-links a {
  color: white;
  text-decoration: none;
}

.afooter-links a:hover {
  text-decoration: underline;
}

.asocial-icons {
  list-style: none;
  padding: 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.asocial-icons li {
  margin-right: 10px;
}

.asocial-icons a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

/* Subscribe section */
.asubscribe {
  margin-top: 20px;
  padding-right: 14%;
  padding-left: 14%;
  
}

.pyaraa{
  margin-bottom: 1rem;
  font-size: 14px;
}
.pyara{
  margin-top: 1rem;
}

.asubscribe input[type="email"] {
  width: 200px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  
}

.asubscribe input[type="submit"] {
  background: #2a3a5c;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 4%;
}

.asubscribe input[type="submit"]:hover {
  background: #405f9e;
}
.aform{
  text-align: center;
}
/* Responsive footer styles */
@media screen and (max-width: 768px) {
  .afooter{
    flex-direction: row;
  }
  .afooter-sections {
      flex-direction: row;
  }
  .asocial-icons{
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 0%;
  }

  .afooter-links {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
    font-size: 12px;
  }
  .pyara{
    font-size: 12px;
  }
  .pyaraa{
    font-size: 12px;
    margin-bottom: 0;
  }
  .asubscribe input[type="email"] {
    display: flex;
    justify-content: center;
      width: 100%;
      margin-top: 4%;
  }
  .asubscribe input[type="submit"] {
    margin-left: 0%;
  }
  .aform{
    text-align: center;
  }
}
@media screen and (max-width: 290px) {
  .afooter-links{
    font-size: 8px;
  }
}
  


  
  
