/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


.loactions-part{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#2a597d;
  font-family: 'Poppins', sans-serif !important;

}
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0 !important;

}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 0px;

  /* background-color: red; */
  /* box-shadow: 0 0 10px 5px rgba(22, 43, 234, 0.2), 0 0 20px 10px rgba(8, 24, 164, 0.2); */
}
.card{
  border-radius: 10px;
  background-color: #FFF;
  transition: transform .2s; /* Animation */
  transition: box-shadow 0.3s ease;
  margin-bottom: 5px;
}
.card:hover{
  transform: translateY(-5px);
  /* transform: scale(1.01); */
  /* box-shadow: 0 12px 20px rgba(144, 238, 144, 0.5); */
  box-shadow: 0 12px 20px rgba(22, 43, 234, 0.3);

}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 20px 0;
  background-color:hsl(39, 90%, 70% , 0.2);;
}

.card-image{
  position: relative;
  height: 250px;
  width: 250px;
  /* border-radius: 50%; */
  background: #FFF;

}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.location-name{
  font-size: 18px;
  font-weight: 500;
  color: #333;

}
/* .heading-element{
  /* padding: 2px; */
/* } */
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.read-more-button{
  /* font-family: "Nunito", sans-serif; */
  background-color:hsl(224, 30%, 27%);
  width: 85%;
  border: none;
  outline: none;
  padding: 10px 16px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 800;
  box-shadow: 0 0 10px 5px rgba(22, 43, 234, 0.2), 0 0 20px 10px rgba(8, 24, 164, 0.2);
  transition:transform .2s;
  /* margin-left: 25px; */
  margin-top: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}
.read-more-button:hover{
  transform: translateY(-3px);
  box-shadow:  0 0 10px 5px rgba(65, 84, 241, 0.4), 0 0 20px 10px rgba(65, 84, 241, 0.3);
  color: lightgreen;
}
.btnL{

  transition: box-shadow 0.3s ease;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 12px 20px rgba(22, 43, 234, 0.3);
}
.btnL:hover{
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  transform: scale(1.1);
  cursor: pointer;
  color: lightgreen;

}



/* Swiper js and css */

.swiper-navBtn{
  color: #fc0;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: lightgreen;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 25px !important;
}
.swiper-button-next{
 
   background-color: hsl(224, 30%, 27%);
  border-radius: 50%;
  height: 50px !important;
  width: 50px !important;
  margin-left: 20px;
  right: 10px;
  left: auto;
   /* color: hsl(224, 30%, 27%); */
}
.swiper-button-prev{

  background-color: hsl(224, 30%, 27%);
  border-radius:50%;
  height: 50px !important;
  width: 50px !important;
  margin-right: 10px;
  right: 10px;
    left: auto;
}

.swiper-pagination-bullet-active{
  background-color: hsl(224, 30%, 27%) !important;
  
  
  
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none !important;
  }
}


.blog-heading-element{
  background-color: hsl(224, 30%, 27%); 
  max-width: 250px; 
  margin: auto;
  margin-top: 10px;
  width: 50%;
  border-radius: 25px; 
  margin-bottom: 20px; 
  display: flex !important;
    align-items: center;
    justify-content: center !important;
 
  
}
.locations-to-visit{
  text-align: center; 
  color: white;
   /* margin-bottom: 0px;  */
   font-size: large; 
   margin-bottom: 0px;
   padding: 15px 8px;

  
}
.locations-to-visit:hover{
  color: lightgreen;
}


 /* CSS Animation for sliding in from bottom */
 @keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the initial state for slide content (hidden) */
.slide-content {
  opacity: 0;
  transform: translateY(30px);
}

/* Apply the animation to the slide content */
.slide-content.animate {
  animation: slideInFromBottom 1s ease-in-out;
  opacity: 1;
  transform: translateY(0);
}



