* {
  box-sizing: border-box;
}
.container-sam {
  display: flex;
  flex-direction: row;
  height: 80vh;
}
.box-1-sam {
  background-color: #f0f0f0;
  flex: 1;
}
.content-sam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  display: none;
  font-family: "Merriweather", sans-serif;
  padding: 30px;
  margin: 10px;
}
.content-sam h1 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 75px;
  margin-bottom: 25px;
}
.content-sam p {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 35px;
}
.content-sam.active {
  display: flex;
}
.content-sam > a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 24px;
  margin-top: 20px;
  padding: 7px 14px;
  background: hsl(224, 30%, 27%);
  border-radius: 12px;
}
.content-sam > a:hover {
  color: lightgreen;
}

.box-2-sam {
  background-color: hsl(224, 30%, 27%);
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}
.box-2-sam video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.video {
  position: absolute;
  clip-path: circle(0% at 0 50%);
}
.video.active {
  clip-path: circle(150% at 0 50%);
  transition: 2.5s ease;
  transition-property: clip-path;
}
.slider-btns-sam {
  z-index: 1;
  position: absolute;
  display: flex;
  bottom: 7%;
}
.slider-btns-sam .nav-btn-sam {
  width: 17px;
  height: 17px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transform: 0.3s ease;
  align-self: center;
}
.slider-btns-sam .nav-btn-sam.active {
  background-color: black;
}
.slider-btns-sam .nav-btn-sam:hover {
  transform: scale(1.2);
}
.slider-btns-sam .nav-btn-sam:not(:last-child) {
  margin-right: 15px;
}

@media (max-width: 648px) {
  .container-sam {
    flex-direction: column-reverse;
    height: 100vh;
  }
  .content-sam.active {
    display: flex;
    align-items: center;
  }
  .content-sam.active h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .content-sam.active p {
    font-size: 16px;
    line-height: 25px;
  }
  .content-sam.active a {
    font-size: 16px;
  }
  .box-1-sam {
    flex: 1;
  }
  .box-2-sam {
    flex: 1;
  }
}
@media (max-width: 280px) {
  .content-sam.active h1 {
    font-size: 24px;
    line-height: 35px;
  }
  .content-sam.active p {
    font-size: 17px;
    line-height: 20px;
  }
  .content-sam.active a {
    font-size: 18px;
  }
}
@media (min-width: 648px) and (max-width: 1024px) {
  .content-sam.active h1 {
    font-size: 48px;
    line-height: 45px;
  }
  .content-sam.active p {
    font-size: 16px;
    line-height: 30px;
  }
  .content-sam.active a {
    font-size: 24px;
  }
}
